p {
  background-color: rgb(196, 226, 148);
  text-align: justify;
}

/* h1 {
        text-align: center;
        color: white;
        background-color: burlywood;
    } */
.A {
  text-align: center;
  color: white;
  background-color: burlywood;
}

/* h2 {
        text-align: center;
        color: rgb(230, 230, 230);
        background-color: rgb(99, 90, 79);
    } */

.B {
  text-align: center;
  color: rgb(230, 230, 230);
  background-color: rgb(99, 90, 79);
}
#sample-id-selector {
  background-color: rgb(148, 197, 226);
  text-align: justify;
}

body {
  background-image: url(../image/BackGround.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
