p {
  background-color: rgb(196, 226, 148);
  text-align: justify;
}

h1 {
  text-align: center;
  color: white;
  background-color: rgb(196, 193, 190);
  padding: 20px 0 20px;
  margin: 50px;
  border-radius: 40px 0px 40px 0px;
}
/* .A {
  text-align: center;
  color: white;
  background-color: burlywood;
} */

/* h2 {
        text-align: center;
        color: rgb(230, 230, 230);
        background-color: rgb(99, 90, 79);
    } */

.B {
  text-align: center;
  color: rgb(230, 230, 230);
  background-color: rgb(99, 90, 79);
}
#sample-id-selector {
  background-color: rgb(148, 197, 226);
  text-align: justify;
}

body {
  background-image: url(../image/BackGround.jpg); /*Relative Path*/
  /* background-image: url(G:\ICET\Internet Tech\Day 5\image);Absolute Path */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
